html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
}

#outer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#inner_title {
  height: 50px;
  color: rgb(143,143,143);
  font-family: Roboto, Charcoal, sans-serif;
  font-size: 24px;
  background: linear-gradient(to bottom, rgb(0,0,0) 0%, rgb(46,46,46) 100%);
}

#inner_map {
  flex-grow : 1;
}
